.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
}

.single-post h1{
  color: #D08562;
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  font-weight: lighter;
}

.single-post p{
  color: #464646
}

.single-post__image {
  height: 25rem;
  width: 100%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
